# Data directories
src/data/raw/
src/data/processed/
src/data/annotations/
images_to_add/

# Outputs and results
outputs/
runs/
results/

# Notebooks and test data
notebooks/test/

# Virtual environment
/venv/
__pycache__/
*.py[cod]
*$py.class

# Model checkpoints and weights
yolo*.pt
*.pth
*.weights
*.onnx

# Logs and outputs
*.log
*.csv
.env
ebs-cloud-*.json

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db